@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --background-primary: #0D131C;
    --background-secondary: #19222F;
    --text-primary: #E6EAF0;
    --text-hover: #9AA5B1;
}


body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.background {
    background: linear-gradient(90deg, var(--background-primary) 0%, var(--background-secondary) 50% );
    height: 100%;
    width: 100%;
}

.filmContainer {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    justify-content: center;
}
.filmBoxContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    align-items: center;
    justify-content: center;
}
.filmBox {
    width: 220px;
    height: 284px;
    background-color: #303C4D;
    margin: 1em;
}

.filmContainer h1 {
    color: var(--text-primary);
    font-weight: 900;;
}